.ChatDiv {
  margin: 0 auto;
  margin-top: 10px;
  /*width: 500px;
  height: 250px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  /*border: 10px solid rgb(180, 180, 180);*/
  /*border: 10px solid rgb(148, 87, 54);*/
  border: 10px solid rgb(143, 228, 159);
  border-radius: 20px;

  width: 280px;
  height: 450px;


}

#messages {
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  /*width: 400px;*/
  width: 220px;
  height: 300px;
  border: 2px solid rgb(220, 220, 220);
  list-style-type: none;
  text-align: left;
  overflow: auto;

  /*display:flex;
  flex-direction:column-reverse;*/

}

/*#messages li:nth-child(odd) {
  background: #eee;
}*/

form {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

form input {
  margin: 0 auto;
  width: 260px;
  height: 40px;
  font-size: 18px;
}

form button {
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  height: 30px;
}
