.App {
  margin-top: 20px;
}

body {
  background-color: rgb(255, 250, 189);
}

.wrapperTop {
  overflow: hidden;
  margin-bottom: 30px;
}

.wrapperBottom {
  overflow: hidden;
  margin-bottom: 10px;
}

.sliding-background {
  opacity: .5;
  background: url("./banana.png") repeat-x;
  height: 20px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
