.App {
  /*margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;*/
  margin-top: 30px;
  /*background-color: green;*/
}

body {
  /*background-color: rgb(255, 234, 119);*/
  /*background-color: rgb(255, 231, 147);*/
  /*background-color: rgb(255, 240, 183);*/
  /*background-color: rgb(255, 233, 131);*/
  /*background-color: rgb(255, 236, 120);*/
  /*background-color: rgb(255, 244, 158);*/
  background-color: rgb(255, 250, 189);
}



/*.UserInfo {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 120px;
  font-size: 18px;
  border: 10px solid orange;
}*/
